<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>LOGIN</title>
</head>
<body>
<h1>LOGIN</h1>
<form action="" method="post">

    <div>
        <label>ACCOUNT:
            <input type="text" name="username">
        </label>
    </div>
    <div>
        <label>PASSWORD:
            <input type="password" name="password">
        </label>
    </div>
    <div><input type="submit" value="Login"></div>
    <div>{{ msg }}</div>
</form>
</body>
</html>
