<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Title</title>
</head>
<body>
<h1>Welcome to Aibentao's class</h1>
<table border="2px">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>option</th>
    </tr>
    </thead>
    <tbody>
    {% for foo in stu %}
        <tr>
            <td>{{ foo }}</td>
            <td>{{ stu[foo].name }}</td>
            <td><a href="/student_info?id={{ foo }}">详细</a></td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>
