<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Title</title>
</head>
<body>
<h1>This is request test</h1>

<form action="/req" method="post">
    <label>账号
        <input type="text" name="username">
    </label>
    <label>密码
        <input type="password" name="password">
    </label>
    <input type="submit" value="提交">

</form>

</body>
</html>
