<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Title</title>
</head>
<body>
<h1>This is Jinja2 test of student_dict</h1>

<div>{{ stu_dict }}</div>

<table border="1px">
    {% for foo in stu_dict %}
        <tr>
            <td>{{ foo }}</td>
            <td>{{ stu_dict.get(foo).name }}</td>
            <td>{{ stu_dict[foo].get("age") }}</td>
            <td>{{ stu_dict[foo]["gender"] }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
