<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Title</title>
</head>
<body>
<h1>This is Jinja2 test of student</h1>

<div>{{ stu }}</div>

<table border="1px">
    <tr>
        <td>{{ stu.0.name }}</td>
        <td>{{ stu.0["age"] }}</td>
        <td>{{ stu.0.get("gender") }}</td>
    </tr>
</table>

</body>
</html>
